 html,body,section{
  height:100% !important ; 
  overflow-y: scroll;
  overflow-x: hidden;
  } 

section{
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


.btn {
  vertical-align: bottom;
}
.min-h {
  min-height: 1300px;
}

a {
    text-decoration: none !important;
    color:rgb(32,32,32);
 
}

.bottomaligned {
    position:absolute; bottom:0;  
    margin-bottom:25px;
     
   }

.font-white {
    color:rgb(255,255,255) !important;
}

.font-red {
  color:rgb(204,0,0);
}

.font-dk {
    color:rgb(32,32,32);
}

.font-orange {
    color:rgb(255,128,0);
}

.section1{
  background-image:     url(../img/BG_front.jpg);
  max-height: 1264px;
  min-height: 750px;
}

.section2{
  background-image:    url(../img/Kneto_1.jpg); 
  max-height: 1000px; 
  min-height: 625px;
}
.section21{
  background-image:    url(../img/Kneto_2.jpg); 
  max-height: 1000px; 
  min-height: 750px;
}

.section3{
 background-image:    url(../img/Kneto_3.jpg); 
 max-height: 482px; 
 min-height: 100px;
}

.section4{
 background-image:    url(../img/Kneto_4.jpg); 
 /*max-height: 900px; 
 min-height: 500px; */
}

.navbar {
  margin-bottom: 0px;
}

.m-top {
    margin-top: 80px;
}

.trans-blue {
    background-color: rgba(80, 139, 200, 0.7);
}
.trans-black {
    background-color: rgba(000, 000, 000, 0.7);
}

.white-panel {
  background-color: rgb(255, 255, 255);
  border-width: 4px;
  border-color: rgba(000, 000, 000, 0.7);
}

.breadcrumb {
 
  background:#65912f;
  color:#d00b01;
  border-radius: 0px;
  margin-bottom: 0px;
}

.greenline {
  background-color: rgb(101, 145, 47);
  min-height: 60px;
  margin-bottom: 0px !important;
}

.fp-panel-t {
  min-height: 280px;
}
.fp-panel-b {
  min-height: 360px;
}

.fp-panel-2 {
  min-height: 580px;
}

.fp-panel-21 {
  min-height: 580px;
}

.fp-panel-3 {
 /* min-height: 340px;*/
}



.panel {

    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 0px !important;

}

.panel-heading  {
    background-image: none !important;
    background-color: rgb(253, 253, 251) !important;
  }

.panel-default {
  border-color: rgb(253, 253, 251) !important; 
}

.panel-why {
  background-color: rgb(253, 253, 251) !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.00) !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.col-md-4 {
    
    padding-right: 10px;
    padding-left: 10px;
 
}

.col-md-8 {

    padding-right: 10px;
    padding-left: 10px;
}



.font {
 
     font-weight:400; /*Normal*/
     font-weight:600; /*Semi-Bold*/
     font-weight:700; /*Bold*/
     font-weight:800; /*Extra-Bold*/

}
.header {
     padding:20px;
     background:#fff;

}

.panel-default-kneto {
    border-color: transparent ;
}

.tree-kneto {
    display: none;
}

.panel-kneto {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.fp-icon  {
    font-size: 3em;
    color: rgb(128, 128, 128);
}
 


.footer_bottom {
    background:#000000;
    margin-top:0px;
    padding:23px 0 26px 0;
}

.breadcrumb {
    margin-top: 25px !important;
 
    }

foot_right_block {
  text-align:right;
  padding-top:15px;
}
.foot_right_block .fright {margin-left:20px;
}

#footer textarea { min-height:100px !important;
}
#footer textarea:focus, #footer input[type="text"]:focus {
  outline: 0;
}

.footer_bottom {
  background:#838282;
  margin-top:0px;
  padding:23px 0 26px 0;
}
.copyright {
  color:#444444;
}

.copyright a {
  color:#444444 !important;
  font-size: 10px;
  font-style:normal !important;

}

.nav-footer > ul {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
  }
.nav-footer {
  float: right !important;

}
/*css reset*/
html,body{margin:0 !important; padding:0 !important;}
