html,body,section{height:100% !important ; } 

section{
  background-repeat:no-repeat; 
  background-size:cover;
}

.section1{
  background-image:    url(../img/BG_front.jpg);
}

.section2{
  background-image:    url(../img/BG_test.jpg);  
}

.section3{
  background-image:    url(http://farm4.staticflickr.com/3815/11130938396_6a9c666021_o.jpg);
  height:100% ;


}

.m-top {
    margin-top: 80px;
}

.trans-blue {
    background-color: rgba(80, 139, 200, 0.5);
}
.trans-black {
    background-color: rgba(000, 000, 000, 0.5);
}





.font {
 
     font-weight:400; /*Normal*/
     font-weight:600; /*Semi-Bold*/
     font-weight:700; /*Bold*/
     font-weight:800; /*Extra-Bold*/

}
.header {
     padding:20px;
     background:#fff;

}

.panel-default-kneto {
    border-color: transparent ;
}

.tree-kneto {
    display: none;
}

.panel-kneto {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.icon-stack  {
    font-size: 10em;
} 

.footer_bottom {
    background:#000000;
    margin-top:0px;
    padding:23px 0 26px 0;
}


/*css reset*/
html,body{margin:0 !important; padding:0 !important;}
