{% load i18n future pages_tags staticfiles %}

<footer id="footer">
    <div class="container">
        <div class="row sections">
            <ul class="footer_nav">
                {% for page in page_branch %}
                    {% if page.in_menu %}
                        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
                            id="footer-menu-{{ page.html_id }}">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="http://kneto.com/privacy-policy/" title="Kneto privacy policy">Privacy Policy</a></li>
                <li><a href="http://kneto.com/terms-of-service/" title="Kneto privacy policy">Terms of Services</a></li>
            </ul>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                <div class="row copyright">
                    <div class="col-md-6">
                        <a href="/"><img src="{% static "img/kneto_logo_grey.png" alt="" / %} "></a>
                    </div>
                    <div class="col-md-6">
                        &copy; 2014 Kneto. All rights reserved.
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>