
{% load pages_tags mezzanine_tags i18n future staticfiles  keyword_tags %}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <h2>Board and Advisors</h2>
    </div>
</div>

    	<div class="col-md-3 panel">
    		            <img class="img-responsive" src="{% static "img/pasi_polonen.jpg" %}" alt="Pasi Pölönen">
            <p class="small">Pasi Pölönen <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/pasipolonen" data-format="click" data-related="false"></script></p>
    </div>
        <div class="col-md-3 panel">
        	            <img class="img-responsive" src="{% static "img/juha_saarinen.jpg" %}" alt="Juha Saarinen">
            <p class="small">Juha Saarinen <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/juha-saarinen/3/966/b57" data-format="click" data-related="false"></script></p>
    </div>
        <div class="col-md-3 panel">
        	            <img class="img-responsive" src="{% static "img/sune_dannberg.jpg" %}" alt="Sune Dannberg">
            <p class="small">Sune Dannberg <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/sune-dannberg/0/4b3/562" data-format="click" data-related="false"></script></p>
    </div>
        <div class="col-md-3 panel">
        	            <img class="img-responsive" src="{% static "img/petri_lehmuskoski.jpg" %}" alt="Petri Lehmuskoski">
            <p class="small">Petri Lehmuskoski <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/plehmuskoski" data-format="click" data-related="false"></script></p> 
    </div>


</div>