
{% load pages_tags mezzanine_tags i18n future staticfiles  keyword_tags %}

<div class="container">
<div class="row">
    <div class="col-md-6">
        <h2>Our Team</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 panel">
            <img class="img-responsive" src="{% static "img/christian_beckman.jpg" %}" alt="andrew smith">
            <p class="small">Christian Beckman, Founder & CTO <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/christian-beckman/46/915/7a5" data-format="click" data-related="false"></script></p>


        </div>
          <div class="col-md-4">
            <p class="lead">
            "The fantastic results we provide with Kneto really make a difference."
        </p>
          </div>
          <div class="row">
    <div class="col-md-12">
Christian is an entrepreneur and a problem solver. The speed and complexity of the hotel industry caught his attention and got him into hotel management where he excelled at building both great hotels and great teams. The hospitality industry has the best defined and easiest to understand need proposition by providing basic needs for man; food, shelter and drink. This does not make a hotel easier to sell than any other line of business and that is why he has always looked for ways to do sales more effectively and cleverly than the week before.

</div>
</div>

     </div>
    <div class="col-md-6">
        <div class="col-md-6 panel">
            <img class="img-responsive" src="{% static "img/andrew_smith.jpg" %}" alt="andrew smith">
            Andrew Smith, Founder & CTO <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/andrew-smith/0/a9/545" data-format="click" data-related="false"></script>

        </div>
          <div class="col-md-4">
            <p class="lead">
            "Chinchilla, as we call our sales tool, is the most exciting project I have been involved in."
        </p>
          </div>
          <div class="row">
           <div class="col-md-12 panel">
Andrew is a pioneer with web based services. He has done everything, from designing basic web pages to N-tier systems and managing groups of people and groups of departments. With all this experience in his pocket he is a most focused and goal oriented person for designing a web tool and managing a team of talented engineers to complete it.
</div>   
     </div>
     
    </div>
</div>
   
</div>
    


