{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block body_class %}pull_top{% endblock %}
{% block topnav_class %}navbar-fixed-top{% endblock %}

{% block main %}
    <section id="feature_slider" class="lol">
        <article class="slide" id="showcasing" style="background: url('{% static "img/backgrounds/aqua.jpg" %}') repeat-x top center;">
            <img class="asset left-30 sp600 t120 z1" src="{% static "img/slides/scene1/macbook.png" %}" />
            <div class="info">
                <h2>{{ page.homepage.lefttop_header }}</h2>
                <ul class="list-unstyled">
                    <li>{{ page.homepage.lefttop_line1 }}</li>
                    <li>{{ page.homepage.lefttop_line2 }}</li>
                    <li>{{ page.homepage.lefttop_line3 }}</li>
                  <!--  <li>{{ page.homepage.lefttop_line4 }}</li> -->
                  <!--  <li>{{ page.homepage.lefttop_line5 }}</li> -->
                </ul>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('{% static "img/backgrounds/mango.jpg" %}') repeat-x top center;">
            <div class="info">
                <h2>{{ page.homepage.righttop_header }}</h2>
                <h4>{{ page.homepage.righttop_line1 }}</h4>
            </div>
            <img class="asset left-480 sp600 t260 z1" src="{% static "img/slides/scene2/left.png" %}" />
            <img class="asset left-210 sp600 t213 z2" src="{% static "img/slides/scene2/middle.png" %}" />
            <img class="asset left60 sp600 t260 z1" src="{% static "img/slides/scene2/right.png" %}" />
        </article>
        <article class="slide" id="tour" style="background: url('{% static "img/backgrounds/color-splash.jpg" %}') repeat-x top center;">
            <img class="asset left-472 sp650 t210 z3" src="{% static "img/slides/scene3/ipad.png" %}" />
            <img class="asset left-365 sp600 t270 z4" src="{% static "img/slides/scene3/iphone.png" %}" />
            <img class="asset left-350 sp450 t135 z2" src="{% static "img/slides/scene3/desktop.png" %}" />
            <img class="asset left-185 sp550 t220 z1" src="{% static "img/slides/scene3/macbook.png" %}" />
            <div class="info">
                <h2>{{ page.homepage.leftbottom_header }}</h2>
                <h4>{{ page.homepage.leftbottom_line1 }}</h4>
            </div>
        </article>
    </section>

    <div id="signup_wrapper" class="row">
        <div class="container">
        <h2>SIGN UP NOW</h2>
        <p>{{ page.homepage.rightbottom_line1 }}</p>
        
        {% errors_for form %}
        <form class="mezzanine-form form-inline" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            <input type="hidden" name="referrer" value="">
            {% csrf_token %}
            
                <input id="id_email" maxlength="75" name="email" type="email" class="input-lg form-control" placeholder="Enter your email here">
                <input id="id_form_name" name="form_name" type="hidden" value="NUL" />
            <input  class="btn btn-lg btn-primary" type="submit" value="Go">
        </form>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Features</h3>
            </div> 
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="{% static "img/showcase1.png" %}" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>{{ page.homepage.section1_header }}</h3>
                    {{ page.homepage.section1|richtext_filters|safe }}
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="{% static "img/showcase2.png" %}" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>{{ page.homepage.section2_header }}</h3>
                    {{ page.homepage.section2|richtext_filters|safe }}
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="{% static "img/showcase3.png" %}" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>{{ page.homepage.section3_header }}</h3>
                    {{ page.homepage.section3|richtext_filters|safe }}
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div id="clients">
        <div class="container">
            <div class="section_header">
                <h3>Clients</h3>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
{% endblock %}