{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/kneto.css" %}">

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo-nav" href="/">
                    <img src="{% static "img/Kneto_w.png" %}">
                </a> 

  <!--    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %} -->
</div>
<div class="navbar-collapse collapse navbar-right">
<!--    {% search_form "all" %} -->
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<!-- <div class="panel greenline">
  </div> -->

  {% if flavour = "mobile" %}
  <div class="container bg_mobile">
  {% else %}
<div class="container bg_0">
  {% endif %}
     <div class="row">
      
      <div class="col-md-8  m-top">
        <a style="display:block" href="#2">
        <div class="panel trans-blue font-white fp-panel-t">
       
          <h2>{{ page.homepage.lefttop_header }}</h2>
            <ul class="list-unstyled lead">
              <li>{{ page.homepage.lefttop_line1 }}</li>
              <li>{{ page.homepage.lefttop_line2 }}</li>
              <li>{{ page.homepage.lefttop_line3 }}</li>
              <li>{{ page.homepage.lefttop_line4 }}</li>
              <li>{{ page.homepage.lefttop_line5 }}</li>
            </ul>
           
        </div>
      </a>
      </div>
        
    
      <div class="col-md-4 m-top">
        <div class="panel trans-black font-white fp-panel-t">
          <a class="font-white" style="display:block" href="#2.1">
          <h2>{{ page.homepage.righttop_header }}</h2>
          <h5>{{ page.homepage.righttop_line1 }}</h5>
     </a>
          <a href="#2.1" class="glyphicon glyphicon-plus-sign fp-icon" role="button"></a>
        </div>
      </div>
 
    </div>

      <div class="row"> 
        
        <div class="col-md-5">

          <div class="panel trans-black font-white fp-panel-b">
            <a class="font-white" style="display:block" href="#3"> 
            <h2>{{ page.homepage.leftbottom_header }}</h2>
              <h5>{{ page.homepage.leftbottom_line1 }}</h5></a>
                <a href="#2.1" class="glyphicon glyphicon-plus-sign fp-icon" role="button"></a>
                <a class="pull-right" href="#3">
                <img class="media-object img-responsive" src="{% static "img/FP_3.png"  alt="Call list and graphs" %}"></a>
        
          </div>
        </div>
        

        <div class="col-md-3">
          <div class="panel white-panel fp-panel-b">
             
                   {% block blog_recent_posts %}
                    {% blog_recent_posts 3 category="news" as recent_posts %}
                    {% if recent_posts %}
                    <h2 class="font-red">{% trans "News" %}</h2>
                    <ul class="news list-unstyled">
                    {% for recent_post in recent_posts %}
                    <li><a href="{{ recent_post.get_absolute_url }}"
                        >{{ recent_post.title }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endblock %}
                       
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel trans-black font-white fp-panel-b">
            <h2>{{ page.homepage.rightbottom_header }}</h2>
              <div class="font-orange">
            <h2>- SIGN UP NOW</h2>
              </div>
            <p>{{ page.homepage.rightbottom_line1 }}</p>
            
              {% errors_for form %}

    <form class="mezzanine-form form-inline" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% fields_for form %}
     
            <input  class="btn btn-primary" type="submit" value="Go">
      
    </form>    
        <div id="2"></div>
          </div>
        </div>
      </div>
</div>
 
  {% if flavour = "mobile" %}
 <div class="container bg_mobile">
  {% else %}
<div class="container bg_1">
  {% endif %}

  <div  class="row">
    <div class="col-md-5 col-md-offset-2">
      <div class="kp">
        <h2>{{ page.homepage.section1_header }}</h2>
        {{ page.homepage.section1|richtext_filters|safe }}
   
      </div>
       <div id="2.1"></div>
    </div>
  </div>
</div>


 {% if flavour = "mobile" %}
  <div class="container bg_mobile">
    {% else%}
<div class="container bg_2">
    {% endif %}
  <div  class="row">
    <div class="col-md-5 col-md-offset-2">
      <div class="kp">
        <h2>{{ page.homepage.section2_header }}</h2>
            {{ page.homepage.section2|richtext_filters|safe }}
      </div>
      <div id="3"></div>
    </div>
  </div>
</div>


<div class="container "> <!-- need fixed image -->
  <div class="row bg_3">
    <div class="col-md-7 col-md-offset-2">  <!-- change back to 5 with fixed image -->
      <div class="kp">
        <h2>{{ page.homepage.section3_header }}</h2>
            {{ page.homepage.section3|richtext_filters|safe }}
      </div>
      <div id="4"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row bg_3">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel panel-why">
        <h2>{{ page.homepage.get_header }}</h2>
        <div class="panel-group" id="accordion">
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          {{ page.homepage.get_header1 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          {{ page.homepage.get_text1|richtext_filters|safe }}
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          {{ page.homepage.get_header2 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        {{ page.homepage.get_text2|richtext_filters|safe }}
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
           {{ page.homepage.get_header3 }}
           <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.get_text3|richtext_filters|safe }}
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          {{ page.homepage.get_header4|richtext_filters|safe }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.get_text4|richtext_filters|safe }}
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          {{ page.homepage.get_header5 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.get_text5|richtext_filters|safe }}
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          {{ page.homepage.get_header6 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.get_text6|richtext_filters|safe }}
      </div>
    </div>
  </div>

      </div>
    </div>
   </div>
  </div>

      
<!-- end of get -->

  <div class="row bg_3">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel fp-panel-3 panel-why">
        <h2>{{ page.homepage.what_header }}</h2>
        <div class="panel-group" id="Whataccordion">
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseOne">
          {{ page.homepage.what_header1 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseOne" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.what_text1|richtext_filters|safe }}
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseTwo">
          {{ page.homepage.what_header2 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        {{ page.homepage.what_text2|richtext_filters|safe }}
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseThree">
           {{ page.homepage.what_header3 }}
           <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.what_text3|richtext_filters|safe }}
      </div>
    </div>
  </div>

      <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseFour">
          {{ page.homepage.what_header4 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseFour" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.what_text4|richtext_filters|safe }}
      </div>
    </div>
  </div>
    <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseFive">
          {{ page.homepage.what_header5 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseFive" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.what_text5|richtext_filters|safe }}
      </div>
    </div>
  </div>

      <div class="panel panel-default panel-why">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#Whataccordion" href="#WhatcollapseSix">
          {{ page.homepage.what_header6 }}
          <br><small>Learn More</small>
        </a>
      </h4>
    </div>
    <div id="WhatcollapseSix" class="panel-collapse collapse">
      <div class="panel-body">
          {{ page.homepage.what_text6|richtext_filters|safe }}
      </div>
    </div>
  </div>

  </div>
      
        </div>
      </div>
  </div>
</div>

<!-- end of what -->



<!-- end fp container -->






{% include "pages/menus/footer_k.html" %}



{% include "includes/footer_scripts.html" %}

</body>
</html>
