{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block body_class %}pull_top{% endblock %}
{% block topnav_class %}navbar-fixed-top{% endblock %}

{% block main %}

   <section id="feature_slider" class="lol">
        <article class="slide" id="ideas" style="background: url('{% static "img/backgrounds/aqua.jpg" %}') repeat-x top center;">
                  <div class="info info_v">
    <div class="video-container">
            <iframe  class="" src="//player.vimeo.com/video/92614016" width="500" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
                </div>
        </article>


        <article class="slide" id="showcasing" style="background: url('{% static "img/backgrounds/aqua.jpg" %}') repeat-x top center;">
            <img class="asset left-30 sp999 t120 z1" src="{% static "img/slides/scene1/macbook.png" %}" />
            <div class="info">
                <h2>Close more deals</h2>
                <ul class="list-unstyled">
                    <li><h4>Take control of the sales process from the start</h4></li>
                    <li><h4>Page level analytics on PDF attachments</h4></li>
                    <li><h4>As easy as sending an email</h4></li>
                    <li><h4>Get real-time feedback on every opportunity</h4></li>
                    <li><h4>Improve your conversion to sales</strong></h4></li>
                  <!--  <li>{{ page.homepage.lefttop_line4 }}</li> -->
                  <!--  <li>{{ page.homepage.lefttop_line5 }}</li> -->
                </ul>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('{% static "img/backgrounds/mango.jpg" %}') repeat-x top center;">
            <div class="info">
                <h2>Build a better sales experience</h2>
                <h4>Be informed when following up with customers</h4>
            </div>
            <img class="asset left-480 sp999 t260 z1" src="{% static "img/slides/scene2/left.png" %}" />
            <img class="asset left-210 sp999 t213 z2" src="{% static "img/slides/scene2/middle.png" %}" />
            <img class="asset left60 sp999 t260 z1" src="{% static "img/slides/scene2/right.png" %}" />
        </article>
        <article class="slide" id="tour" style="background: url('{% static "img/backgrounds/color-splash.jpg" %}') repeat-x top center;">
            <img class="asset left-472 sp950 t210 z3" src="{% static "img/slides/scene3/ipad.png" %}" />
            <img class="asset left-365 sp900 t270 z4" src="{% static "img/slides/scene3/iphone.png" %}" />
            <img class="asset left-350 sp750 t135 z2" src="{% static "img/slides/scene3/desktop.png" %}" />
            <img class="asset left-185 sp850 t220 z1" src="{% static "img/slides/scene3/macbook.png" %}" />
            <div class="info">
                <h2>Approach your customers with the right angle...</h2> <h4>at the right time </h4>
                <ul class="list-unstyled">
                <li>Our algorithm provides a prioritized call list</li>
                <li>Know what your prospect is interested in before picking up the phone</li>
                </ul>
            </div>
        </article>
    </section>

    <div id="signup_wrapper" class="row">
        <div class="container">
        <div class="start">
                <h2>Start your free, no-risk, 15 day trial! </h2>
                <a class="btn btn-primary btn-lg active" role="button" href="/pricing">Start Now!</a>
            </div>
        </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Features</h3>
            </div> 
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="{% static "img/mailbox_420.jpg" %}" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>With Kneto you get:</h3>
                     <strong></strong>
                     <p>
                   
                        <p class="lead">Page level reporting on attached PDF files.<br>
                        An alert when the mail was opened and when the link was clicked.<br>
                        The device type used view the PDF.<br>
                        How many times the PDF was viewed and from what IP addresses.<br>
                        A prioritized call list that tells you who is ready for your call.<br>
                        No templates to set up. Use any PDF. Send it to one person or 50.</p>
                  
                     <p>
                    <strong></strong>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="{% static "img/showcase2.png" %}" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>How do Sales Managers use Kneto?</h3>
                    <ul class="list-unstyled">
                        <li class="lead"><strong>Predict Easy Wins</strong> - Make smarter decisions, faster, and save time with page level, detailed analytics on you PDFs. </li>
                        <li class="lead"><strong>Identify Risk</strong> - Identify prospects that are going to need more work to close. </li>
                        <li class="lead"><strong>Increase Productivity</strong> - Know who is ready for your follow up. Focus on the Hot ones.
                    </ul>
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="{% static "img/girl_sunglasses_420.jpg" %}" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>Understand your customers needs</h3>
                   <p class="lead"><strong>Problem:</strong> Face to face meetings are time drains, you only have a limited amount of time to service the offers sent out. Without personal interaction you can’t sense and read your customer. How do you prioritize?
                        </p>
                   <p class="lead"> <strong>Solution:</strong> Kneto gives you a new type of sense. Using our algorithm we can tell if your e-mail recipient has more than a passing interest in your offer and can help you determine if: </p>
                        <ul class="">
                        <li class="small">They are comparison shopping?</li>
                        <li>Is the price important?</li>
                        <li>Do you need to change your offer in order to win it?</li>
                        </ul> 
                        </p><p class="lead">
                    With Kneto you learn a great deal about your customers motivations and interests before you call them.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div id="clients">
        <div class="container">
            <div class="section_header">
                <h3>Clients</h3>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
{% endblock %}