{% extends "pages/page.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/compiled/about.css" %}" />
{% endblock %}

{% block main %}
    <div class="team_wrapper">
        <div class="container">
            <div class="section_header">
                <h3>Meet our Team</h3>
            </div>

            <div class="row people">
                <div class="row">
                    <div class="col-sm-6 bio_box">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{% static "img/christian_beckman.jpg" %}" alt="">
                                <div class="info">
                                    <p class="name">Christian Beckman</p>
                                    <p class="area">Founder &amp; CEO <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/christian-beckman/46/915/7a5" data-format="click" data-related="false"></script></p>
                                    
                                  <!--  <a href="#" class="facebook">
                                        <span class="socialicons ico1"></span>
                                        <span class="socialicons_h ico1h"></span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row bio_info">
                            <div class="col-md-12">
                                <p class="well">
                                    "The fantastic results we provide with Kneto really make a difference."
                                </p>
                                <p>
                                    Christian is an entrepreneur and a problem solver. The speed and complexity of the hotel industry caught his attention and got him into hotel management where he excelled at building both great hotels and great teams. The hospitality industry has the best defined and easiest to understand need proposition by providing basic needs for man; food, shelter and drink. This does not make a hotel easier to sell than any other line of business and that is why he has always looked for ways to do sales more effectively and cleverly than the week before.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 bio_box bio_boxr">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{% static "img/andrew_smith.jpg" %}" alt="">
                                <div class="info">
                                    <p class="name">Andrew Smith</p>
                                    <p class="area">Founder &amp; CTO <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/andrew-smith/0/a9/545" data-format="click" data-related="false"></script></p>
                                  <!--  <a href="#" class="facebook">
                                        <span class="socialicons ico1"></span>
                                        <span class="socialicons_h ico1h"></span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row bio_info">
                            <div class="col-md-12">
                                <p class="well">
                                    "Kneto is the most exciting project I have been involved in. It gives sales crucial insight into how their PDF's are received."
                                </p>
                                <p>
                                    Andrew is a pioneer with web based services. He has done everything, from designing basic web pages to N-tier systems and managing groups of people and groups of departments. With all this experience in his pocket he is a most focused and goal oriented person for designing a web tool and managing a team of talented engineers to complete it.
                                </p>
                            </div>    
                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="col-sm-6 bio_box">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{% static "img/hieu_nguyen.jpg" %}" alt="">
                                <div class="info">
                                    <p class="name">Hieu Nguyen</p>
                                    <p class="area">Lead Engineer <script type="IN/MemberProfile" data-id="http://fi.linkedin.com/in/hieuh25" data-format="click" data-related="false"></script></p>
                                  <!--  <a href="#" class="facebook">
                                        <span class="socialicons ico1"></span>
                                        <span class="socialicons_h ico1h"></span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row bio_info">
                            <div class="col-md-12">
                                <p class="well">
                                    "This project is unique. So many other start ups are copies of others. I am excited to be building Kneto from the beginning."
                                </p>
                                <p>
                                   Hieu is a full stack engineer who knows how to get the job done. He has that rare ability in an engineer to understand the business needs, look and the specs, and build something better than what was expected. He has been around the block a few times and knows the right questions to ask.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 bio_box bio_boxr">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{% static "img/jocke_flander.jpg" %}" alt="">
                                <div class="info">
                                    <p class="name">Jocke Flander</p>
                                    <p class="area">Sales <script type="IN/MemberProfile" data-id="http://fi.linkedin.com/pub/jocke-flander/27/130/849" data-format="click" data-related="false"></script></p>   

    
                                  <!--  <a href="#" class="facebook">
                                        <span class="socialicons ico1"></span>
                                        <span class="socialicons_h ico1h"></span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row bio_info">
                            <div class="col-md-12">
                                <p class="well">
                                "For sales people this is a must have tool. Once you start using it you'll never send a PDF without it."
                                </p>
                                <p>
                                  In the past 10 years Jocke has successfully been working with start-ups and has become an expert in commercializing digital services.
                                    Previously Jocke worked as CEO and owner at SporttiPassi.
                                    Jocke was also the co-founder at SpeakersForum and CultureCard.

                                </p>
                            </div>    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="boards_wrapper">
        <div class="container">
            <div class="section_header">
                <h3>Board and Advisors</h3>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static "img/pasi_polonen.jpg" %}" alt="Pasi Pölönen">
                    <p class="small">Pasi Pölönen <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/pasipolonen" data-format="click" data-related="false"></script></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static "img/juha_saarinen.jpg" %}" alt="Juha Saarinen">
                    <p class="small">Juha Saarinen <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/juha-saarinen/3/966/b57" data-format="click" data-related="false"></script></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static "img/sune_dannberg.jpg" %}" alt="Sune Dannberg">
                    <p class="small">Sune Dannberg <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/sune-dannberg/0/4b3/562" data-format="click" data-related="false"></script></p>
                </div>
                <div class="col-md-3">
                <!--    <img class="img-responsive" src="{% static "img/petri_lehmuskoski.jpg" %}" alt="Petri Lehmuskoski">
                    <p class="small">Petri Lehmuskoski <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/plehmuskoski" data-format="click" data-related="false"></script></p> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}